/* Bedirhan YILDIRIM reset.css */
body {background-color: #ffffff; font: 15px/19px Arial; margin: 0 auto}
img {border: none}
a {text-decoration: none}
table,tr,td,ul,li,h1,h2,h3,h4,h5,h6,p,from,input,textarea {padding: 0; margin: 0; border: none; list-style-type: none}
:focus {outline: none}

#content {
    width: 400px;
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    margin: 0 auto
}

.main-title {
    margin-top: 10px;
    padding-bottom: 5px;
    color: #323330;
    border-bottom: 2px solid #f0db4f;
}

.item-1 {
    display: block;
    color: white;
    background-color: #f0db4f;
}